name: lint-workflows
on:
  pull_request:
    paths:
      - ".github/workflows/**"
      - ".github/*.yml"
  push:
    paths:
      - ".github/workflows/**"
      - ".github/*.yml"
permissions:
  contents: read
jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rhysd/actionlint@de883cff9f4d24c48247c2adb5d3b267039d49cd
